@inject IViewLocalizer _localizer
@model ReviewItemCreateViewModel

<h2 class="text-center">Review Item Create Page</h2>

<form asp-antiforgery="true" asp-action="Create" asp-controller="ReviewItem" method="post" enctype="multipart/form-data">

    <div class="row mt-4">
        <div class="form-group col-6">
            <label asp-for="Review.NameEn" class="form-label"></label>
            <input asp-for="Review.NameEn" class="form-control" />
            <span asp-validation-for="Review.NameEn" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Review.NameRu" class="form-label"></label>
            <input asp-for="Review.NameRu" class="form-control" />
            <span asp-validation-for="Review.NameRu" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="form-group col-6">
            <label asp-for="Review.DescriptionEn" class="form-label"></label>
            <textarea asp-for="Review.DescriptionEn" class="form-control" rows="12"></textarea>
            <span asp-validation-for="Review.DescriptionEn" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
            <label asp-for="Review.DescriptionRu" class="form-label"></label>
            <textarea asp-for="Review.DescriptionRu" class="form-control" rows="12"></textarea>
            <span asp-validation-for="Review.DescriptionRu" class="text-danger"></span>
        </div>
    </div>

    <div class="mt-4">
        <select asp-for="Review.ReviewGroupId" class="form-select">
            <option>Select group</option>
            @foreach (var group in Model.Groups)
            {
                <option value="@group.Id">@group.NameEn / @group.NameRu</option>
            }
        </select>
        <span asp-validation-for="Review.ReviewGroupId" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <div class="img-input-div w-100 d-flex justify-content-center align-items-center text-center position-relative">
            <p>@_localizer["AddOneImageHere"]</p>
            <input asp-for="Review.ImageFile" class="form-control file h-100 w-100 position-absolute cursor-pointer" id="img-input" accept="image/jpeg, image/png, image/jpg, image/gif, image/bmp" />
        </div>
        <span asp-validation-for="Review.ImageFile" class="text-danger"></span>
    </div>

    <output class="w-100 d-flex justify-content-start flex-wrap position-relative mt-3"></output>

    <button type="submit" class="btn btn-primary mt-3">@_localizer["Submit"]</button>
</form>

<script>
    const output = document.querySelector("output");
    const imgInput = document.getElementById("img-input");
    let image = null;

    imgInput.addEventListener("change", () => {
        const file = imgInput.files[0];
        if (file && file.type.match("image")) {
            image = file;
            displayImage();
        }
    });

    function displayImage() {
        if (!image) return;
        output.innerHTML = `<div class="image overflow-hidden position-relative">
                        <img src="${URL.createObjectURL(image)}" alt="image" class="w-100 h-100 img-clickable cursor-pointer">
                        <span onclick="deleteImage()" class="text-danger fs-2 cursor-pointer position-absolute">&times;</span>
                    </div>`;
        addImageClickEvents();
    }

    function deleteImage() {
        image = null;
        output.innerHTML = "";
        imgInput.value = "";
        }
</script>