@inject IViewLocalizer _localizer;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - We Review</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReviewsWebApp.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/satellite-min.css"
          integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA="
          crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo.png" alt="Logo"/></a>
                <div class="col-4">
                    <div id="search-box"></div>
                    <div class="position-relative search-div">
                        <div id="hits" class="position-absolute top-0"></div>
                        <div id="pagination"></div>
                    </div>
                </div>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle me-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            @_localizer["Language"]
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" asp-action="SwitchLanguage" asp-controller="Language" asp-route-culture="ru">Русский</a></li>
                            <li><a class="dropdown-item" asp-action="SwitchLanguage" asp-controller="Language" asp-route-culture="en">English</a></li>
                        </ul>
                    </div>

                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@_localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ReviewItem" asp-action="List">@_localizer["ReviewItems"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Index">@_localizer["Reviews"]</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        
        <main role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
        <div id="fullpage" onclick="this.style.display='none';"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WeReview - <a asp-area="" asp-controller="Reviews" asp-action="Index">@_localizer["Reviews"]</a>
        </div>
    </footer>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
    <script type="text/html" id="hit-template">
        <div class="hit">
            <h5 class="hit-name">
            {{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}
            </h5>

            <div class="markdown limit-text limit-text-small">
                {{#helpers.highlight}}{ "attribute": "description" }{{/helpers.highlight}}
            </div>
            <a href="/Reviews/Details/{{objectID}}">View review</a>
        </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.20.0/dist/algoliasearch-lite.umd.js"
            integrity="sha256-DABVk+hYj0mdUzo+7ViJC6cwLahQIejFvC+my2M/wfM="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.56.11/dist/instantsearch.production.min.js"
            integrity="sha256-yHeFqoETm5zMdsbcQREJvirJYZ23K6CuCVsD1alui7E="
            crossorigin="anonymous"></script>
    <script>
        // full-text search ui
        const searchClient = algoliasearch(
            'K0P413XALK',
            '6be08c07568cf815111cb4a4e4e63730'
        )

        const search = instantsearch({
            indexName: 'we_review',
            searchClient,
            routing: true,
        })

        search.addWidgets([
            instantsearch.widgets.configure({
                hitsPerPage: 10,
            }),
        ])

        search.addWidgets([
            instantsearch.widgets.searchBox({
                container: '#search-box',
                placeholder: '@_localizer["SearchPreview"]',
            }),
        ])

        search.addWidgets([
            instantsearch.widgets.hits({
                container: '#hits',
                templates: {
                    item: document.getElementById('hit-template').innerHTML,
                    empty: `@_localizer["FoundNothing"]`,
                },
            }),
        ])

        function hideHitsOnEmptyInput() {
            const inputValue = document.querySelector('#search-box input').value.trim();
            const hitsContainer = document.querySelector('#hits');
            if (inputValue.length === 0) {
                hitsContainer.style.display = 'none';
            } else {
                hitsContainer.style.display = 'block';
                transformMarkdownText();
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const searchBoxInput = document.querySelector('#search-box input');
            searchBoxInput.addEventListener('input', hideHitsOnEmptyInput);

            const resetButton = document.querySelector('button[type="reset"]');
            resetButton.addEventListener('click', function () {
                document.querySelector('#hits').style.display = 'none';
            });
        });

        search.start()
        hideHitsOnEmptyInput();
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
