@inject IViewLocalizer _localizer
@model HomeViewModel

@{
    ViewData["Title"] = _localizer["Title"];
}

<div class="mt-2">
    <h3 class="mb-3">@_localizer.GetString("Tags")</h3>
    @for (int i = 1; i <= Model.Tags.Count(); i++)
    {
        string tagName = Model.Tags[i - 1].Name;
        <a asp-action="Index" asp-controller="Reviews" asp-route-tagName="@tagName"><span class="ms-2 fs-6 badge  rounded-pill @(i % 2 == 0 ? "bg-secondary" : "bg-dark")">@tagName</span></a>
    }
</div>

<div class="mt-4 row">
    <div class="col-6">
        <h3 class="mb-3">@_localizer.GetString("MostPopularReviews")</h3>
        @foreach (var review in Model.MostLikedReviews)
        {
            <partial name="_ReviewPeak" model="review" />
        }
    </div>
   
    <div class="col-6">
        <h3 class="mb-3">@_localizer.GetString("LatestReviews")</h3>
        @foreach (var review in Model.LatestReviews)
        {
            <partial name="_ReviewPeak" model="review" />
        }
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Reviews">@_localizer.GetString("ViewAllReviews")</a>
    </div>
</div>
